.wrapper {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 50px 80px;
    width: 60vh;
    height: 70vh;
    background-color: white;
    box-shadow: 0 20px 40px -15px rgba(#818181, .5);
    position: fixed;
}
